@{
	Page.Title = "ChicagoWebConf";
}

<div class="content-secondary">
    <div class="drop-shadow lifted" id="logo">
        <img src="/img/logo.png" title="ChicagoWebConf" alt="ChicagoWebConf" />
    </div>    
</div>
<div class="content-primary">
    <div id="header">        
        <h1>September 3rd, 2011</h1> 
        <h1 class='sub'>ITA Tech Nexus - 200 S. Wacker Dr. Chicago, IL</h1> 
        <h2> 
        An epic one day conference on web technologies: HTML5, CSS3,
        Javascript, and related webby goodness.
        </h2> 
    </div>
</div>
<div class="content-primary">
    <ul data-role="listview" data-inset="true" >
        <li data-role="divider" class="listHeader">More Info</li>
        <li><a href="http://chicagowebconf.eventbrite.com/">Register</a></li>
        <li><a href="#Schedule">Schedule</a></li>
    </ul>
</div>
<div class="content-secondary speakerContent">
    <h3 id="title">Kick-Ass Speakers</h3>
    <ul data-role="listview">
        <li><a href="#">
                <img src="/img/ryan-singer.png" alt="Ryan Singer" title="Ryan Singer" />
                <h3>Ryan Singer</h3>
                <p>User Experience Thought Process</p>
        </a></li>
        <li><a href="#">
                <img src="/img/shay-howe.png" alt="Shay Howe" title="Shay Howe" />
                <h3>Shay Howe</h3>
                <p>HTML5 and CSS3</p>
        </a></li>
        <li><a href="#">
                <img src="/img/jon-pliske.png" alt="Jon Pliske" title="Jon Pliske" />
                <h3>Jon Pliske</h3>
                <p>Coffeescript</p>
        </a></li>
        <li><a href="#">
                <img src="/img/jc-grubbs.png" alt="JC Grubbs" title="JC Grubbs" />
                <h3>JC Grubbs</h3>
                <p>Building Rich Apps with Backbone</p>
        </a></li>
        <li><a href="#">
                <img src="/img/clark-sell.png" alt="Clark Sell" title="Clark Sell" />
                <h3>Clark Sell</h3>
                <p>JavaScript.Next</p>
        </a></li>
        <li><a href="#">
                <img src="/img/russ-unger.png" alt="Russ Unger" title="Russ Unger" />
                <h3>Russ Unger</h3>
                <p>The Right Way to Wireframe</p>
        </a></li>
        <li><a href="#">
                <img src="/img/jacob-gable.png" alt="Jacob Gable" title="Jacob Gable" />
                <h3>Jacob Gable</h3>
                <p>Building Sites With jQuery Mobile</p>
        </a></li>
        <li><a href="#">
                <img src="/img/sam-tesla.png" alt="Sam Tesla" title="Sam Tesla" />
                <h3>Sam Tesla</h3>
                <p>Data Visualizations with Vector Graphics</p>
        </a></li>
        <li><a href="#">
                <img src="/img/david-demaree.png" alt="David Demaree" title="David Demaree" />
                <h3>David Demaree</h3>
                <p>Real Typography for the Web</p>
        </a></li>
        <li><a href="#">
                <img src="/img/mark-meeker.png" alt="Mark Meeker" title="Mark Meeker" />
                <h3>Mark Meeker</h3>
                <p>Web Accessibility</p>
        </a></li>
        <li><a href="#">
                <img src="/img/ben-rady.png" alt="Ben Rady" title="Ben Rady" />
                <h3>Ben Rady</h3>
                <p>JavaScript Likes to Be Tested</p>
        </a></li>
    </ul>
</div>

@section OtherPages {
<div data-role="page" id="Schedule">
<h3>Schedule</h3>
<div id="scheduleWrap">
    <table id="schedule">
        <tbody>
            <tr>
                <td class="header">
                    8:30-9 am
                </td>
                <td class="colspan" colspan="2">
                    <div class="speaker">
                        Breakfast, Opening, Mingling</div>
                </td>
            </tr>
            <tr>
                <td class="header">
                    9-9:50 am
                </td>
                <td class="track">
                    <div class="speaker">
                        Shay Howe</div>
                    <div class="title">
                        Quality Development with HTML5 and CSS3</div>
                </td>
                <td class="track">
                    <div class="speaker">
                        Clark Sell</div>
                    <div class="title">
                        JavaScript.NEXT</div>
                </td>
            </tr>
            <tr>
                <td class="header">
                    10-10:50 am
                </td>
                <td class="track">
                    <div class="speaker">
                        David Demaree</div>
                    <div class="title">
                        Real Typography for the Web</div>
                </td>
                <td class="track">
                    <div class="speaker">
                        JC Grubbs / Ryan Briones</div>
                    <div class="title">
                        Building Rich Apps with Backbone</div>
                </td>
            </tr>
            <tr>
                <td class="header">
                    11-11:50 am
                </td>
                <td class="track">
                    <div class="speaker">
                        Mark Meeker</div>
                    <div class="title">
                        Web Accessibility</div>
                </td>
                <td class="track">
                    <div class="speaker">
                        Ben Rady</div>
                    <div class="title">
                        JavaScript Testing wtih Jasmine</div>
                </td>
            </tr>
            <tr>
                <td class="header">
                    12 pm
                </td>
                <td class="colspan" colspan="2">
                    Lunch
                </td>
            </tr>
            <tr>
                <td class="header">
                    1-1:50 pm
                </td>
                <td class="track">
                    <div class="speaker">
                        Russ Unger</div>
                    <div class="title">
                        The Right Way to Wireframe</div>
                </td>
                <td class="track">
                    <div class="speaker">
                        Jacob Gable</div>
                    <div class="title">
                        Mobile Web Dev with jQuery Mobile</div>
                </td>
            </tr>
            <tr>
                <td class="header">
                    2-2:50 pm
                </td>
                <td class="track">
                    <div class="speaker">
                        Sam Tesla</div>
                    <div class="title">
                        The Visualization Renaissance</div>
                </td>
                <td class="track">
                    <div class="speaker">
                        Jon Pliske</div>
                    <div class="title">
                        Introduction to Coffeescript</div>
                </td>
            </tr>
            <tr>
                <td class="header">
                    3-3:50 pm
                </td>
                <td class="colspan" colspan="2">
                    <div class="speaker">
                        Ryan Singer</div>
                    <div class="title">
                        User Experience Thought Process</div>
                </td>
            </tr>
            <tr>
                <td class="header">
                    4-4:50 pm
                </td>
                <td class="colspan" colspan="2">
                    <div class="speaker">
                        Lightning Talks and Raffle</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
}